<template>

    <div class="row">

        <div class="col-md-3 text-center">
            <div class="logo">
                <img :src="wiselyLogo" alt="logo">
            </div>
            <div class="slidebar">
                <p>button</p>
            </div>
        </div>

        <div class="ourhelp  col-md-9">
            <p>test test test</p>
            <!-- routes -->
        </div>
    </div>

</template>


<script>
export default {
    name: "ClientApp",
    data :function(){
        return{
            wiselyLogo : "../img/logo_color.png"
        }
    }
}
</script>

<style lang="scss" scoped>

.logo img
{
    max-width: 50%;
}

.slidebar
{
    background-color: mediumblue;
    height:95vh;

}

</style>
