<template>
    <div class="ourhelp">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magni dolores quidem sapiente dignissimos inventore nihil vitae ad unde. Rerum reprehenderit sapiente dolorum eligendi, vero voluptatum quo tempore magnam maiores!
    </div>
</template>


<script>
export default {
    name: "help"
}
</script>
