<template>
    <div class="container">
        <div class="form">
            <form action="#" method="post" @submit="validation" novalidate="true">
                <h2 class="mb-5">Log in (admin)</h2>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" v-model="email" :class="{invalid:invalidEmail}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <p class="error" v-for="emailerror in emailerrors">{{emailerror}}</p>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" v-model="password" :class="{invalid:invalidPass}">
                    <p class="error" v-for="passerror in passerrors">{{passerror}}</p>
                </div>

                <button type="submit" class="btn btn-success w-100 mt-3">Continue</button>
                <p class="text-black pt-5 text-center">Forgot password? <a href="#">Click here</a></p>
            </form>
        </div>
    </div>

</template>

<script>

export default {
    name: "AdminAuth",

    data:function(){
        return{
            emailerrors:[],
            passerrors:[],
            email:null,
            password:null,
            invalidEmail:false,
            invalidPass:false,
            respo:[]

        }
    },
    methods:{
        validation: function(e)
        {
            if(this.email && this.password){

                this.invalidEmail=false;
                this.invalidPass=false;
                this.AdminAuth(this.email,this.password);

            }

            this.emailerrors=[];
            this.passerrors=[];

            if(!this.email){
                this.emailerrors.push('The email field is required *');
                this.invalidEmail=true;
            }else if (!this.validEmail(this.email)) {
                this.emailerrors.push('Valid email required. *');
                this.invalidEmail=true;
            }

            if(!this.password){
                this.passerrors.push('The password field is required *');
                this.invalidPass=true;
            }

            e.preventDefault();

        },
        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        AdminAuth: function(email,password){
            axios.post('/api/admin/login',{email,password})
            .then(res=>console.log(res)
            )
        }
    }

}
</script>


<style lang="scss" scoped>

.form
{
    width: 65%;
    margin-left: 15%;
    margin-top: 25%;
    margin-bottom: 17%;
    button{
        background-color: #6cd9a5;
        border: none;
        padding: 2.5%;
        font-size: 18px;
        font-weight: bold;
    }
    h3
    {
        font-weight: bold;
    }
    .error
    {
        color:red;
    }
    .invalid
    {
        border-color: red;
    }
}

</style>
