<template>

    <div class="client-form col-md-3 m-auto">

        <form action="" method="POST">
            <input type="text" placeholder="username" class="form-control">
            <input type="password" placeholder="Password" class="form-control">
            <input type="submit" value="login" class="btn btn-primary">
        </form>

    </div>

</template>

<script>
export default {
    name: "ClientAuthh",

}
</script>

<style scoped>

</style>


