<template>

<div class="welcome w-25 text-center">
    <div class="img mb-3">
        <img :src="logoimg" alt="Wisely" class="logoimg">
    </div>

    <div class="row buttons">
        <div class="col-md-5 ml-4">
            <router-link to="/auth/login" class="list-group-item-action login">login</router-link>
        </div>

        <div class="col-md-5">
            <div class="btncontent">
                <router-link to="/auth/register" class="list-group-item-action register">register</router-link>
            </div>
        </div>
    </div>


</div>


</template>

<script>
export default {

    data: function() {
        return{

            logoimg : './img/logo_color.png'
        }
    }

}
</script>

<style lang="scss" scoped>
    .welcome
    {
        position: absolute;
        top: 40%;
        left: 35%;
        .logoimg
        {
        max-width: 40%;
        }
        .login ,.register
        {
            font-size: 16px;
            padding: 2% 9%;
            border-radius: 5%;
            font-family: Nunito,sans-serif;
            text-transform: uppercase;;
        }
        .login:hover , .register:hover
        {
                background-color:lightgray;
        }

    }


</style>
