<template>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <router-view/>
            </div>

            <div class="col-md-6 order-first order-md-last sidelogo">
                <div class="logo">
                    <img :src="logo" alt="Wisely">
                </div>
            </div>
        </div>

    </div>

</template>


<script>
export default {
    data: function() {
        return{
            logo: '../img/logo.png'

        }
    }

}
</script>


<style lang="scss" scoped>

.logo
{
    background-color: #1c335b;
    height: 100%;
    position: relative;
    img
    {
        max-width: 45%;
        position: absolute;
        top: 40%;
        left: 30%;
    }
}
</style>
