<template>
    <div class="container">
        <div class="form mb-5">
            <form  @submit.stop.prevent="validation" novalidate="true">
                <h2 class="mb-5">Sign up</h2>

                <div class="form-group">
                    <label for="exampleInputName">Full name</label>
                    <input type="text" class="form-control " id="exampleInputName" aria-describedby="NameHelp" name="name" v-model="data.name">
                    <p class="error" v-for="error in errors">{{error.name}}</p>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="email" v-model="data.email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <p class="error" v-for="error in errors">{{error.email}}</p>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" v-model="data.password">
                    <p class="error" v-for="error in errors">{{error.password}}</p>
                </div>

                <div class="form-group">
                    <label for="exampleInputMobile">Mobile number</label>
                    <input type="number" class="form-control" id="exampleInputMobile" aria-describedby="MobileHelp" name="mobile" v-model="data.mobile">
                    <p class="error" v-for="error in errors">{{error.mobile}}</p>
                </div>

                <div class="form-group">
                    <label for="exampleInputCompany">Company name</label>
                    <input type="text" class="form-control " id="exampleInputCompany" aria-describedby="CompanyHelp" name="client_name" v-model="data.client_name">
                    <p class="error" v-for="error in errors">{{error.client_name}}</p>
                </div>

                <div class="form-group mb-4">
                    <label>No. of Employees</label>
                    <div class="input-group mb-3">
                        <!-- <div class="input-group-prepend" id="button-addon3">
                            <div class="row inputbtn">
                                <p class="btn btn-outline-success mr-2 mb-2" type="button" @click="data.no_of_empolyees='1 - 9'">1 - 9</p>
                                <button class="btn btn-outline-success mr-2 mb-2" type="button" @click="data.no_of_empolyees='10 - 19'">10 - 19</button>
                                <button class="btn btn-outline-success mr-2 mb-2" type="button"  @click="NoEmp('20 - 49')">20 - 49</button>
                                <button class="btn btn-outline-success mr-2 mb-2" type="button" @click="NoEmp('50 - 149')">50 - 149</button>
                                <button class="btn btn-outline-success mr-2 mb-2" type="button" @click="NoEmp('150 - 999')">150 - 999</button>
                                <button class="btn btn-outline-success mr-2 mb-2" type="button" @click="NoEmp('+999')">+999</button>
                            </div>
                        </div> -->
                        <!-- <ValidationProvider name="no_of_employees" rules="required"> -->
                        <v-chip-group column :value="data.no_of_employees" v-model="data.no_of_employees">
                            <v-chip label outlined value="1 - 9">1 - 9</v-chip>
                            <v-chip label outlined value="10 - 19">10 - 19</v-chip>
                            <v-chip label outlined value="20 - 49">20 - 49</v-chip>
                            <v-chip label outlined value="50 - 149">50 - 149</v-chip>
                            <v-chip label outlined value="150 - 999">150 - 999</v-chip>
                            <v-chip label outlined value="+999">+999</v-chip>
                        </v-chip-group>
                        <!-- </ValidationProvider> -->
                        <!-- <v-row justify="space-around">
                            <v-col cols="12" sm="6" md="4">
                            <v-sheet elevation="10" class="py-4 px-1">
                                <v-chip-group
                                mandatory
                                active-class="primary--text"
                                >
                                <v-chip v-for="tag in tags" :key="tag">
                                    {{ tag }}
                                </v-chip>
                                </v-chip-group>
                            </v-sheet>
                            </v-col>
                        </v-row> -->
                        <p class="error" v-for="error in errors">{{error.no_of_employees}}</p>

                    </div>
                </div>

                <div class="form-group">
                    <label>Are you a holding company?</label>
                </div>

                <div class="form-group">
                    <input type="radio" name="is_holding" id="InputRadio" value="true" v-model="data.is_holding">
                    <label for="InputRadio" class="ml-2">Yes</label>

                    <input type="radio" name="is_holding" id="InputRadio2" class="ml-3" value="false" v-model="data.is_holding">
                    <label for="InputRadio2" class="ml-2">No</label>
                </div>



                <button type="submit" class="btn btn-success w-100 mt-3 continue">Continue</button>
                <p class="text-black pt-5 text-center">Already have an account? <a href="#">Log in</a></p>
            </form>
        </div>
    </div>

</template>

<script>

export default {
    data:function(){
        return{
            data:{
            name:null,
            email:null,
            password:null,
            mobile:null,
            client_name:null,
            no_of_employees:null,
            is_holding:null
            },
            errors:[
                {name:null},
                {email:null},
                {password:null},
                {mobile:null},
                {client_name:null},
                {no_of_employees:null},
            ]

        }
    },


    methods:
    {
        validation:function(e)
        {
            if(this.data){

                this.AdminAuth(this.data);

            }

            this.errors=[
                {name:null},
                {email:null},
                {password:null},
                {mobile:null},
                {client_name:null},
                {no_of_employees:null},
            ];

            if(!this.data.name){
                this.errors[0].name='The name field is required *';
                // this.invalidEmail=true;
            }else if (!this.validEmail(this.data.email)) {
                this.errors[1].email='Valid email required. *';
                // this.invalidEmail=true;
            }

            if(!this.data.email){
                this.errors[1].email='The Email field is required *';
                // this.invalidPass=true;
            }

            if(!this.data.password){
                this.errors[2].password='The password field is required *';
                // this.invalidPass=true;
            }

            if(!this.data.mobile){
                this.errors[3].mobile='The mobile field is required *';
                // this.invalidPass=true;
            }

            if(!this.data.client_name){
                this.errors[4].client_name='The Company Name field is required *';
                // this.invalidPass=true;
            }

            if(!this.data.no_of_employees){
                this.errors[5].no_of_employees='The Number of employees field is required *';
                // this.invalidPass=true;
            }

            e.preventDefault();
            console.log(this.errors)

        },

        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        AdminAuth: function(data){
            axios.post('/api/client/register',data)
            .then(res=>{
                console.log(res)

                if(res.status === 200) {
                this.$router.push({ path : '/app' });
            }
            })
        },
        // NoEmp:function(value){
        //     this.data.no_of_empolyees=value;
        // }
    }

}
</script>


<style lang="scss" scoped>

.form
{
    width: 65%;
    margin-left: 15%;
    margin-top: 10%;
    .continue{
        background-color: #6cd9a5;
        border: none;
        padding: 2.5%;
        font-size: 18px;
        font-weight: bold;
    }
    h3
    {
        font-weight: bold;
    }
    .inputbtn button
    {
        background-color: white;
        color: black;
        border-radius: 8px;
        border: solid 0.5px #dbe8f4;

    }
    .inputbtn button:hover
    {
        background-color: rgba(92,119,146,0.1);

    }
    .error
    {
        color:red;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
